mixin contactform(identifier = "")
  form#contactForm.ajaxform(method="POST" action="/contact")
    .row.bg-white
      .col-lg-4.bg-primary.text-white.d-none.d-lg-block
        .px-4.d-flex.flex-column.justify-content-between.h-100
          .px-xl-3
            .p-3
              .p-lg-3.p-xl-5
                .square.rounded-circle.bg-white.position-relative.w-100
                  img.object-fit-cover.img-fluid.position-absolute.top-50.left-50.shift-vertical-negative(alt="Women accepting calls" src="/media/callcenter.svg")
            h2.h6=__("Contact information")
            .my-3.d-flex.align-items-center.word-wrap-anywhere
              a.d-flex.align-items-center.word-wrap-anywhere.text-white.small(href="tel:004930364286190")
                .w-2.mr-2
                  include ../../assets/icons/phone.svg
                | 030 - 364286190
            .my-3.d-flex.align-items-center.word-wrap-anywhere
              a.d-flex.align-items-center.word-wrap-anywhere.text-white.small(href="mailto:contact@digitalcareerinstitute.org")
                .w-2.mr-2
                  include ../../assets/icons/mail.svg
                | contact@digitalcareerinstitute.org
            .my-3.d-flex.align-items-center.word-wrap-anywhere.small
              .w-2.mr-2
                include ../../assets/media/pin.svg
              | Vulkanstraße 110367 Berlin
          
          ul.list-group.list-group-horizontal.d-flex.justify-content-center.my-lg-4.my-xl-5
            li.list-group-item.bg-transparent.px-3
              a(class="" target="_blank" rel="noopener" alt="DCI on Facebook" href="https://www.facebook.com/digitalcareerinstitute") 
                include ../../assets/icons/facebook.svg

            li.list-group-item.bg-transparent.px-3
              a(class="" target="_blank" rel="noopener" alt="DCI on Instagram" href="https://www.instagram.com/digitalcareerinstitute/") 
                include ../../assets/icons/insta.svg
            li.list-group-item.bg-transparent.px-3
              a(class="" target="_blank" rel="noopener" alt="DCI on LinkedIn" href="https://www.linkedin.com/school/dci-digital-career-institute/") 
                include ../../assets/icons/linkedin.svg
            li.list-group-item.bg-transparent.px-3
              a(class="" target="_blank" rel="noopener" alt="DCI on Twitter" href="https://www.linkedin.com/school/dci-digital-career-institute/") 
                include ../../assets/icons/twitter.svg

      .col-lg-8
        .mx-md-5.py-3
          .row
            .col-md-6.form-group
              label(for='firstname'+identifier)=__("Firstname")
              input.form-control(id="firstname"+identifier name="firstname" type='text',  value=contact ? contact.firstname : '', required)
              input.form-control(id="track"+identifier name="track" type="hidden" )
            .col-md-6.mb-3.mb-3
              label(for='lastname'+identifier)=__("Lastname")
              input.form-control(id="lastname"+identifier name="lastname" type='text',  value=contact ? contact.lastname : '', required)
            .col-md-6.form-group
              label(for='phone'+identifier)=__("Phone")
              input.form-control(id="phone"+identifier name="phone" type='number', pattern="[\+]\d*", value=contact ? contact.phone : '', required)
              input.agefield.form-control(id="age"+identifier name="age" tabindex="-1" type='text') 
            .col-md-6.form-group
              label(for='email'+identifier)=__("Email")
              span.text-muted
              input.form-control(id="email"+identifier name="email" type='email',  value=contact ? contact.email : '', required)
          
            .col-md-6.form-group
              if locations && locations.length > 0
                label(for='location'+identifier)=__("Location")
                select.custom-select.text-muted.form-control(required='', name="locations" id="location"+identifier)
                  option( contact && selected disabled value="")=__("Select...")
                  each location in locations
                    option(value=(location._id) selected=contact && contact.locations && contact.locations[0].toString() === location._id.toString() ?  "selected" :  false )=location.name
            if !companytour
              .col-md-6.form-group
                p
                  label(for="unemployed"+identifier)
                    =__("Are you currently unemployed?")

                  select.custom-select.text-muted.form-control(name="unemployed" id="unemployed"+identifier required)
                    option(selected disabled value="")=__("Select...")
                    option(value="Yes" selected=contact && contact.unemployed == "yes" ? "selected" : false)=__("yes")
                    option(value="No" selected=contact && contact.unemployed == "no" ? "selected" : false)=__("no")
                    option(value="No, but soon" selected=contact && contact.unemployed == "no but soon" ?  "selected" : false )=__("no but soon")
            .col-md-6.form-group
              if courses.length > 0
                label(for='course'+identifier)=__("Course of Interest")
                select.custom-select.text-muted.form-control(required='', name="courses" id="course"+identifier)
                  option( contact && selected disabled value="")=__("Select...")
                  each course in courses
                    option(value=(course._id) selected=contact && contact.courses && contact.courses[0].toString() === course._id.toString() ?  "selected" :  false )=course.headline
            .col-md-6.form-group
              label
                =__("Are you registered with the Jobcenter or Agentur für Arbeit?") 
              .custom-control.custom-radio.custom-control-inline.mr-0
                input.custom-control-input(id="jobcenter"+identifier type='radio' name='jobcenter')
                label.pl-2.pr-3.custom-control-label(for='jobcenter'+identifier)=__("Yes")
              .custom-control.custom-radio.custom-control-inline.mr-0
                input.custom-control-input(id="jobcenter2"+identifier type='radio' name='jobcenter')
                label.pl-2.pr-3.custom-control-label(for='jobcenter2'+identifier)=__("No")
                //- p
                //-   label(for="jobcenter")
                //-     =__("Are you registered with the Jobcenter or Agentur für Arbeit?")

                //-   select.mb-3.custom-select.text-muted.form-control(name="jobcenter" id="jobcenter" required)
                //-     option(selected=contact && !contact.jobcenter ? "selected" : false, disabled value="")=__("Please select an answer here...")
                //-     option(value=1 selected=contact && contact.jobcenter == true ? "selected" : false)=__("yes")
                //-     option(value=0 selected=contact && contact.jobcenter == false ? "selected" : false )=__("no")
          .form-group
            label(for='body'+identifier)=__("Message")
            textarea.mb-3.form-control(id="body"+identifier name="body" placeholder=__("Please enter your message here. Our Career Success Team will reach out to you as soon as possible."), required)=contact ? contact.body : ''
                
          p
            label.checkbox.TermsofService.text-muted
              =__("Subscribe to our Newsletter")
              input(type='checkbox', name='newsletter', value="true")
              span.checkmark
          p
            label.checkbox.TermsofService.text-muted
              =__("I have read and agree to the")
              input(type='checkbox', name='TermsofService', value="true", required)
              span.checkmark
            a.ml-1.font-weight-bold.text-dark.text-underline-none.cursor-pointer(data-toggle='modal', data-target='#dataPrivacy')=__("Data Privacy")
          if companytour
            input(type="hidden" name='companytour' checked value="true")
          .text-center
            button.btn.btn-lg.btn-secondary.m-auto(type="submit")
              div#contactform_text=__("SEND")
              div#contactform_spinner.h-1.vertical-align-revert.rotating.text-white.d-none
                include ../../assets/media/spinner.svg
              div#contactform_check.h-1.vertical-align-revert.text-white.d-none
                include ../../assets/media/check.svg
