mixin singleCourse
  .jumbotron.jumbotron-fluid.mb-0.p-0.z-1.position-relative
    .container-md
      .d-md-none.bg-primary-light.w-5.h-5.position-absolute.ml-n3
      .d-md-none.bg-light-blue.position-absolute.z-minus.w-5.h-5.mt-3.ml-3
      .dotted.d-md-none.red.w-6.h-6.rounded-circle.position-absolute.right.mr-5.top-30
      .dotted.d-md-none.blue.w-7.h-7.rounded-circle.position-absolute.left.bottom.ml-3.mb-5
      .row.py-5
        .col-md-6.bg-panel.right.py-5
          .py-5
            .py-5
              h1.display-1.my-3.mt-y-xl-5.word-wrap-break-word()=course.headline
              p.lead.mb-3= course.courselength
              p.lead.mb-3.pt-3()=course.subheading
              div.my-3.my-y-xl-5
                .mt-3.mt-y-xl-5
                  a.btn.btn-secondary.px-4.mb-4(href="/signup"): +translate("Apply Now")
                  if course.curriculumPdf
                    a.btn.btn-link.border-0.mb-4(href='#' data-toggle='modal', data-target='#curriculumpopup' data-course=`${course.slug}`) 
                      div.h-2.w-2.d-inline-block.mr-2
                        include ../../assets/icons/download.svg
                      +translate("Download Course Overview")

          - randompartners = [...partners.filter(p => p.is_alumni_employer)]
          - for (let i = randompartners.length - 1; i > 0; i--) {
              - const j = Math.floor(Math.random() * (i + 1));
              - [randompartners[i], randompartners[j]] = [randompartners[j], randompartners[i]];
          - }  
          .container
            h6.mb-3.font-weight-bold.text-muted: +translate("Where Our Graduates Work")
            .row.justify-content-center
              each partner, index in randompartners.splice(0,4)
                .col-6.col-md-3.partner.h-4.flex-column.align-items-center.justify-content-center(class=index > 3 ? "d-none d-lg-flex" : "d-flex")
                  img.partners-logo.w-100.px-2(alt=partner.title, src="/images/" + partner.partnerlogo, )
        .col-md-6.py-5.py-md-0
          .floatings.h-100
            .w-100.align-items-end.h-100.d-flex.flex-column
              .p-4.position-relative.w-100.h-100
                .d-flex.flex-column.justify-content-center.flex-grow-1.w-100.h-100
                  .w-3.h-3.position-absolute.top.right.bg-primary.z-minus
                  .h-100
                    .position-relative.h-100.d-flex.flex-column.justify-content-center
                      .w-50.h-50.position-absolute.top.left.bg-light-blue.z-minus
                      .w-50.h-50.position-absolute.bottom.right.bg-primary.z-minus
                      .dotted.w-14.h-14.position-absolute.top-5.right.iron.z-minus.mr-3
                      .dotted.w-4.h-4.position-absolute.bottom.right-20.iron.z-minus.mb-n5
                      .p-5
                        .px-3
                          .position-relative
                            .bg-yellow.w-6.h-6.position-absolute.top.left.rounded-circle.shift-left-top
                            .bg-yellow.w-3.h-3.position-absolute.bottom.left.shift-down-left
                            .bg-yellow.w-4.h-4.w-50.h-50.position-absolute.bottom-20.right.rounded-circle.shift-right-down
                            if course.icon
                              img.object-fit-cover.img-fluid(alt=course.description src="/images/"+course.icon)
                            else
                              img.w-100(src="/media/pixel.gif" alt=course.headline style=`background-image: url('${course.icon ? `/images/` + course.icon : `/media/circuit-board.svg`}')`)

  .position-relative.mb-3.overflow-hidden
    .container-fluid.position-relative
      section#section1
        .row.row-courses
          .col-md-4.bg-white.d-flex.flex-column.justify-content-center.position-relative.z-1
            .dotted.w-4.h-4.position-absolute.top.left-10.iron.z-minus
            .justify-content-center.d-flex.position-relative
              img.img-fluid.mb-n5(alt=course.description src="/images/"+course.subicon)
              .w-100.h-100.position-absolute.bottom.left.bg-yellow.third-transparent.z-minus.shift-left-top
          .col-md-6.bg-white.py-5.d-flex.flex-column.justify-content-center
            .pr-5.border-right.border-grey
              h5.text-left.font-weight-bold.text-muted.text-uppercase.py-3: +translate("Overview")
              h2.mt-3.mb-3.text-left=course.title
              p.mb-0.lead.text-left=course.subtitle

          .col-md-2
            .d-flex.flex-column.text-center.py-4
              .my-4.d-flex.flex-column.justify-content-center
                .counter-item
                  .counter-number.font-weight-bold
                    h2.display-2
                      span.counter-count=locals.settings.careersuccesspage_alumni ? locals.settings.careersuccesspage_alumni : user ? "setting not defined" : ""
                      = "+"
                  p: +translate("DCI Alumni")
              .my-4.d-flex.flex-column.justify-content-center
                .counter-item
                  .counter-number.font-weight-bol
                    h2.display-2
                      span.counter-count=locals.settings.careersuccesspage_students ? locals.settings.careersuccesspage_students : user ? "setting not defined" : ""
                      = "+"
                  p: +translate("DCI Students")
              .my-4.d-flex.flex-column.justify-content-center
                .counter-item
                  .counter-number.font-weight-bold
                    h2.display-2
                      span.counter-count=locals.settings.careersuccesspage_companypartners ? locals.settings.careersuccesspage_companypartners : user ? "setting not defined" : ""
                      = "+"
                  p: +translate("Company Partners")
              .my-4.d-flex.flex-column.justify-content-center
                .counter-item
                  .counter-number.font-weight-bold
                    h2.display-2
                      span.counter-count=locals.settings.careersuccesspage_employmentrate ? locals.settings.careersuccesspage_employmentrate : user ? "setting not defined" : ""
                      = "%"
                  p: +translate("Placement rate")

    section.position-relative.py-5
      .container.container-fluid-courses.position-relative.px-5

        .dotted.w-4.h-4.position-absolute.top.left.iron.z-minus
        h2.mb-3: +translate("What will I learn?")
        p.lead.mb-5=course.curriculumSectionSubheading

    .container
      .row
        .col-md-6.pt-md-5
          ul#myTab2.nav.flex-column(role='tablist')
            each object, index in course.archivements.filter(a => a.title && a.description)
              li.nav-item.mb-5(role='presentation')
                a.nav-link(id=`affiliate_partner_${index}-tab` data-toggle='tab' href=`#affiliate_partner_${index}` role='tab' aria-controls=`affiliate_partner_${index}` aria-selected='true' class=`${index === 0 ? `active`: ``}`)
                  img.h-4.w-4.object-fit-contain.mr-3(alt=object.description src="/media/pixel.gif" style="background-image: url('/images/"+object.icon+"')")
                  span.font-weight-bold.text-dark= object.title
        .col-md-6.position-relative.p-0

          .dotted.w-15.h-15.position-absolute.top.right.yellow.mt-n4.mr-n4.z-minus
          .dotted.w-15.h-15.position-absolute.bottom.left.iron.mb-n4.ml-n4.z-minus
          .position-absolute.top.left.right.bottom.bg-primary-trans.z-minus
          #myTab2Content.tab-content.position-relative
            each object, index in course.archivements.filter(a => a.title && a.description)
              - archivements_sub_items = object.description.split(";")
              .tab-pane.fade.p-md-5(id=`affiliate_partner_${index}` class=`${index === 0 ? `show active`: ``}` role='tabpanel' aria-labelledby=`affiliate_partner_${index}-tab`)
                each sub_item, index2 in archivements_sub_items
                  .bg-white.shadow-sm.shadow-md-none(class=`${index2 != archivements_sub_items.length -1 ? `mb-5`: ``}`)
                    .d-flex.align-items-center
                      h3.h2.text-primary-light.border-right.font-weight-bold.p-3.m-0=sub_item.split("|")[0]
                      .p-3.font-weight-bold= sub_item.split("|")[1]
                      button.btn.btn-link.p-3.d-md-none(data-toggle='collapse', data-target=`#affiliate_partner_${index}_${index2}`)
                        .rotate-270
                          include ../../assets/icons/arrow.svg
                    .d-none.d-md-block
                      .px-3.pb-3
                        = sub_item.split("|")[2]
                    .collapse.d-md-none.bg-white.p-4.shadow-sm(id=`affiliate_partner_${index}_${index2}`)
                      p=sub_item.split("|")[2]

    section
      .position-relative
        .d-md-none.bg-primary-light.w-3.h-3.position-absolute
        .d-md-none.bg-light-blue.position-absolute.z-minus.w-3.h-3.mt-3.ml-4
        if course.features.filter(t => !!t.title).length > 0   
          section.my-5.pt-5.container.container-fluid-courses
            h2: +translate("What more do we offer?")
            p.lead
            +translate("We offer much more than just teaching and hacking, such as")
            = ":"

          .py-5.position-relative
            .bg-primary-trans.position-absolute.w-20.w-lg-25.h-20.h-lg-25.right-md-0.right.top-0.mb-5.z-minus
            .bg-primary-trans.position-absolute.w-20.w-lg-25.h-20.h-lg-25.left.bottom-50.mb-5.shift-bottom-percent.z-minus
            .bg-primary-trans.position-absolute.w-20.w-lg-25.h-20.h-lg-25.right-md-0.right.bottom-0.bottom-md-0.mb-5.z-minus
            .my-0.container.container-fluid-courses
              each object in course.features
                if object.icon
                  .card.p-3.mb-5.shadow-sm
                    .row
                      .col-3.text-center.px-0.py-3
                        .pr-3
                          img.img-fluid.h-100(src="/images/"+object.icon, alt=object.title)
                      .col-9.position-relative.d-flex.align-items-center
                        .row.bg-panel.left.third-transparent.z-minus
                        .p-3.border-left.border-muted
                          .p-md-4.position-relative
                            h3.text-left=object.title
                      .col-12
                        p.text-left.lead=object.subtitle


      section#youtube
        .container
          h2=__("DCI Alumni at Work")
          .videoWrapper
            iframe(width='100%' src='https://www.youtube.com/embed/oDzyVmmDh5c' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
      if course.successStory
        +successCarousel([ course.successStory ])

      section#section3.my-5.container.text-left
        .row
          .col-md-6
            .position-absolute.top.left.right.bottom.third-transparent.z-minus     
            //- h5.font-weight-bold.text-muted.text-uppercase.py-3: +translate("Our next Course Start")
            //- each location in course.locations
            //-   span.badge.badge-primary.mr-2=location.name

            h2.font-weight-bold.text-uppercase.mb-4: +translate("Course Destails & Requirements")
            if course.startInterval
              .my-3
                strong.mr-2
                  +translate("Starts every")
                  = ":"
                span
                  span.padded-text()=course.startInterval
            .my-3
              strong.mr-2
                +translate("Teaching Mode")
                =":"
              span
                span.padded-text()=__( "On Campus & Online" )
            if course.courseLanguages
              .my-3
                strong.mr-2
                  +translate("Language")
                  =":"
                span.padded-text()
                  = course.courseLanguages
            if course.courselength
              .my-3
                strong.mr-2
                  +translate("Duration")
                  =":"
                span.padded-text()= course.courselength
            if course.locations
              .my-3
                strong.mr-2
                  +translate("Availability")
                  =":"
                span.padded-text()
                  each location, index in course.locations
                    =location.name
                    if index != course.locations.length - 1
                      =", "
                  =" & Online"
          .col-md-6.position-relative
            if course.requiredLanguages
              .my-3
                strong.mr-2
                  +translate("Language")
                  =":"
                span.padded-text()
                  = course.requiredLanguages 
            if course.computerKnowledge
              .my-3
                strong.mr-2
                  +translate("Computer Knowledge")
                  =":"
                span.padded-text()=course.computerKnowledge
            if course.education
              .my-3
                strong.mr-2
                  +translate("Education")
                  =":"
                span.padded-text()=course.education
            if course.other
              .my-3
                strong.mr-2
                  +translate("Other")
                  =":"
                span.padded-text()=course.other
      hr.d-md-none

      section.my-5.py-5.position-relative
        .dotted.d-md-none.blue.w-9.h-9.position-absolute.top-30.left.mr-5
        .dotted.d-md-none.blue.w-9.h-9.position-absolute.right.bottom.ml-2
        .container
          h2: +translate("Financing options")
          .row
            .col-md-4.mb-4
              .card.shadow-sm.p-3.h-100.d-flex.justify-content-between
                .d-flex.align-items-center
                  div.text-primary-light
                    include ../../assets/icons/course_job_interview.svg
                  h2.ml-5.w-3.h-3.bg-primary-light.text-white.d-flex.justify-content-center.align-items-center.font-weight-bold.flex-shrink-0=`01`
                p: +translate("If you are unemployed or in Kurzarbeit, the course can be 100% financed by the Jobcenter or Agentur für Arbeit.")

            if course.financingoption
              .col-md-4.mb-4
                .card.shadow-sm.p-3.h-100.d-flex.justify-content-between
                  .d-flex.align-items-center
                    .flex-grow-1.d-flex.flex-column.justify-content-center
                      include ../../assets/icons/financing_chancen_eg.svg
                    h2.ml-5.w-3.h-3.bg-primary-light.text-white.d-flex.justify-content-center.align-items-center.font-weight-bold.flex-shrink-0=`02`
                  p: +translate("CHANCEN eG takes over your entire course fee and let’s you pay once you complete the course and find a stable job.")
              .col-md-4.mb-4
                .card.shadow-sm.p-3.h-100.d-flex.justify-content-between
                  .d-flex.align-items-center
                    .flex-grow-1.d-flex.flex-column.justify-content-center.text-primary-light
                      include ../../assets/icons/credit_card.svg
                    h2.ml-5.w-3.h-3.bg-primary-light.text-white.d-flex.justify-content-center.align-items-center.font-weight-bold.flex-shrink-0=`03`
                  p: +translate("You can also pay your course immediately or in installments.")

      section.pb-200.mt-5.w-100.bg-primary-trans
        .p-5.position-relative.shadow-sm.overflow-hidden.mb-5
          .p-md-5.mb-5
            div.position-absolute.top.left.w-100.h-100.third-transparent
            .row
              .col-md-7.order-12.order-md-0.text-left
                div.my-3.my-y-xl-5.text-center

                  a.btn.btn-lg.btn-secondary.mx-3.mb-3.w-100.w-md-auto(href="/signup"): +translate("Apply Now")
                  a.btn.btn-lg.btn-outline-white.mx-3.mb-3.w-100.w-md-auto(href='#' data-toggle='modal', data-target='#curriculumpopup' data-course=`${course.slug}` ): +translate("Download Course Overview")

        if user && user.admin === "true"
          div.py-3
            a.btn.btn-outline-primary(target="_blank" rel="noopener" href='/admin/courses/edit/'+course.slug) Edit course
