mixin singleCourse
  .jumbotron.jumbotron-fluid.mb-0.p-0.z-1.position-relative
    .container-md
      .d-md-none.right.bg-primary-light.w-3.h-3.position-absolute.rounded-circle.mr-4.mt-n4
      .d-md-none.position-absolute.right.bg-light-blue.w-3.h-3
      .dotted.d-md-none.red.w-6.h-6.rounded-circle.position-absolute.left.mr-5.top-5.ml-n5
      .dotted.d-md-none.blue.w-7.h-7.rounded-circle.position-absolute.left.bottom.ml-3.mb-5
      .row.py-md-5
        .col-md-6.bg-panel.right.py-md-5
          .py-5
            .py-5
              .pb-5
                .pb-5
                  h1.display-1.my-3.mt-y-xl-5.word-wrap-break-word.text-primary-light.text-md-dark=course.headline
                  p.lead.mb-3= course.courselength
                  p.lead.mb-3.pt-3()=course.subheading
                  .d-md-none.left.bg-primary-light.w-3.h-3.position-absolute.rounded-circle
                  .d-md-none.position-absolute.left.bg-light-blue.w-3.h-3.ml-4.mt-4
              div.mt-5.mb-3.my-xl-5.position-relative.py-5.px-3.px-md-0.row
                .bg-primary-light.position-absolute.top.left.w-100.h-100.d-md-none
                .mt-3.mt-xl-5.w-100
                  a.btn.btn-secondary.px-4.mb-4.w-100.w-md-auto.py-3(href="/signup"): +translate("Apply Now")
                  if course.curriculumPdf
                    a.btn.btn-outline-white-transparent.mb-4.w-100.w-md-auto.d-md-none.py-3(href='#' data-toggle='modal', data-target='#curriculumpopup' data-course=`${course.slug}`) 
                      div.h-2.w-2.d-inline-block.mr-2
                        include ../../assets/icons/download.svg
                      +translate("Download Course Overview")

                    a.btn.btn-link.mb-4.w-100.w-md-auto.d-none.d-md-inline-block.py-3(href='#' data-toggle='modal', data-target='#curriculumpopup' data-course=`${course.slug}`) 
                      div.h-2.w-2.d-inline-block.mr-2
                        include ../../assets/icons/download.svg
                      +translate("Download Course Overview")

          - randompartners = [...partners.filter(p => p.is_alumni_employer)]
          - for (let i = randompartners.length - 1; i > 0; i--) {
              - const j = Math.floor(Math.random() * (i + 1));
              - [randompartners[i], randompartners[j]] = [randompartners[j], randompartners[i]];
          - }  
          .container.d-none.d-md-block
            h6.mb-3.font-weight-bold.text-muted: +translate("Where Our Graduates Work")
            .row.justify-content-center
              each partner, index in randompartners.splice(0,4)
                .col-6.col-md-3.partner.h-4.flex-column.align-items-center.justify-content-center(class=index > 3 ? "d-none d-lg-flex" : "d-flex")
                  img.partners-logo.w-100.px-2(alt=partner.title, src="/images/" + partner.partnerlogo, )
        .col-md-6.py-5.py-md-0.d-none.d-md-flex
          .floatings.h-100
            .w-100.align-items-end.h-100.d-flex.flex-column
              .p-4.position-relative.w-100.h-100
                .d-flex.flex-column.justify-content-center.flex-grow-1.w-100.h-100
                  .w-3.h-3.position-absolute.top.right.bg-primary.z-minus
                  .h-100
                    .position-relative.h-100.d-flex.flex-column.justify-content-center
                      .w-50.h-50.position-absolute.top.left.bg-light-blue.z-minus
                      .w-50.h-50.position-absolute.bottom.right.bg-primary.z-minus
                      .dotted.w-14.h-14.position-absolute.top-5.right.iron.z-minus.mr-3
                      .dotted.w-4.h-4.position-absolute.bottom.right-20.iron.z-minus.mb-n5
                      .p-5
                        .px-3
                          .position-relative
                            .bg-yellow.w-6.h-6.position-absolute.top.left.rounded-circle.shift-left-top
                            .bg-yellow.w-3.h-3.position-absolute.bottom.left.shift-down-left
                            .bg-yellow.w-4.h-4.w-50.h-50.position-absolute.bottom-20.right.rounded-circle.shift-right-down
                            if course.icon
                              img.object-fit-cover.img-fluid(alt=course.description src="/images/"+course.icon)
                            else
                              img.w-100(src="/media/pixel.gif" alt=course.headline style=`background-image: url('${course.icon ? `/images/` + course.icon : `/media/circuit-board.svg`}')`)

  .position-relative.overflow-hidden
    .container-fluid.position-relative
      section#section1
        .row.row-courses
          .col-md-4.bg-white.d-flex.flex-column.justify-content-center.position-relative.z-1
            .dotted.w-4.h-4.position-absolute.top.left-10.iron.z-minus
            h2.mt-3.mb-3.text-left.d-md-none=course.title
            .justify-content-center.d-flex.position-relative
              img.img-fluid.mb-n5(alt=course.description src="/images/"+course.subicon)
              .d-none.d-md-block.w-100.h-100.position-absolute.bottom.left.bg-yellow.third-transparent.z-minus.shift-left-top
          .col-md-6.bg-white.py-5.d-flex.flex-column.justify-content-center
            .pr-5.border-right.border-grey
              h2.mt-3.mb-3.text-left.d-none.d-md-bloc=course.title
              p.mb-0.lead.text-left=course.subtitle

          .col-md-2.bg-primary-light.bg-md-white
            .row.text-center.py-4
              .col-6.col-md-12.my-4.d-flex.flex-column.justify-content-center.border-right.border-white.border-md-0
                .counter-item
                  .counter-number.font-weight-bold
                    h2.display-2.text-white.text-md-dark
                      span.counter-count=locals.settings.careersuccesspage_alumni ? locals.settings.careersuccesspage_alumni : user ? "setting not defined" : ""
                      = "+"
                  p.text-white.text-md-dark: +translate("DCI Alumni")
              .col-6.col-md-12.my-4.d-flex.flex-column.justify-content-center.border-left.border-white.border-md-0
                .counter-item
                  .counter-number.font-weight-bol
                    h2.display-2.text-white.text-md-dark
                      span.counter-count=locals.settings.careersuccesspage_students ? locals.settings.careersuccesspage_students : user ? "setting not defined" : ""
                      = "+"
                  p.text-white.text-md-dark: +translate("DCI Students")
              .col-6.col-md-12.my-4.d-flex.flex-column.justify-content-center.border-right.border-white.border-md-0
                .counter-item
                  .counter-number.font-weight-bold
                    h2.display-2.text-white.text-md-dark
                      span.counter-count=locals.settings.careersuccesspage_companypartners ? locals.settings.careersuccesspage_companypartners : user ? "setting not defined" : ""
                      = "+"
                  p.text-white.text-md-dark: +translate("Company Partners")
              .col-6.col-md-12.my-4.d-flex.flex-column.justify-content-center.border-left.border-white.border-md-0
                .counter-item
                  .counter-number.font-weight-bold
                    h2.display-2.text-white.text-md-dark
                      span.counter-count=locals.settings.careersuccesspage_employmentrate ? locals.settings.careersuccesspage_employmentrate : user ? "setting not defined" : ""
                      = "%"
                  p.text-white.text-md-dark: +translate("Placement rate")

    section.position-relative.py-5
      .container.position-relative
        .dotted.w-4.h-4.position-absolute.top.left.iron.z-minus.ml-n4
        h2.mb-3: +translate("What will I learn?")
        p.lead.mb-5=course.curriculumSectionSubheading

    .container
      .row
        .col-md-6.pt-md-5.d-none.d-md-block
          ul#myTab2.nav.flex-column(role='tablist')
            each object, index in course.archivements.filter(a => a.title && a.description)
              li.nav-item.mb-5(role='presentation')
                a.nav-link(id=`affiliate_partner_${index}-tab` data-toggle='tab' href=`#affiliate_partner_${index}` role='tab' aria-controls=`affiliate_partner_${index}` aria-selected='true' class=`${index === 0 ? `active`: ``}`)
                  img.h-4.w-4.object-fit-contain.mr-3(alt=object.description src="/media/pixel.gif" style="background-image: url('/images/"+object.icon+"')")
                  span.font-weight-bold.text-dark= object.title
        .col-md-6.position-relative.p-0
          .dotted.w-15.h-15.position-absolute.top.right.yellow.mt-n4.mr-n4.z-minus
          .dotted.w-15.h-15.position-absolute.bottom.left.iron.mb-n4.ml-n4.z-minus
          .position-absolute.top.left.right.bottom.bg-primary-trans.z-minus
          .tab-content.position-relative.px-3.py-5
            each object, index in course.archivements.filter(a => a.title && a.description)
              .font-weight-bold.d-md-none.bg-white.shadow-sm.mb-2.d-flex.justify-content-between.rounded(data-toggle='collapse', data-target=`#affiliate_section_${index}`)
                div
                  img.h-4.w-4.object-fit-contain.mr-3(alt=object.description src=`/images/${object.icon}`)
                  =object.title
                button.btn.btn-link.p-3.d-md-none(data-toggle='collapse', data-target=`#affiliate_partner_${index}_${index2}`)
                  .rotate-180
                    include ../../assets/media/chevron.svg
              - archivements_sub_items = object.description.split(";")
              .tab-pane.fade.d-block.opacity-1.mb-4(id=`affiliate_partner_${index}` class=`${index === 0 ? `show active`: ``}` role='tabpanel' aria-labelledby=`affiliate_partner_${index}-tab`)
                .collapse.p-md-5.mb-5.mb-md-0.shadow-sm.shadow-md-none(id=`affiliate_section_${index}`)
                  each sub_item, index2 in archivements_sub_items
                    .bg-white.rounded(class=`${index2 != archivements_sub_items.length -1 ? `mb-md-5`: ``}`)
                      .d-flex.align-items-center(data-toggle='collapse', data-target=`#affiliate_partner_${index}_${index2}`)
                        h3.h2.text-primary-light.border-right.font-weight-bold.p-3.m-0=sub_item.split("|")[0]
                        .p-3.font-weight-bold= sub_item.split("|")[1]
                      .d-none.d-md-block
                        .px-3.pb-3
                          = sub_item.split("|")[2]
                      .d-md-none.bg-white.p-4(id=`affiliate_partner_${index}_${index2}`)
                        p=sub_item.split("|")[2]

    .position-relative.py-5
      .py-5.py-md-0
        .d-md-none.bg-primary-light.w-3.h-3.position-absolute
        .d-md-none.bg-light-blue.position-absolute.z-minus.w-3.h-3.mt-3.ml-4
        section.container.py-5
          section.py-5.py-md-0.mb-5
            h2: +translate("What more do we offer?")
            p.lead
            +translate("We offer much more than just teaching and hacking, such as")
            = ":"
          .row
            .col-md-8
              if course.features.filter(t => !!t.title).length > 0   
                .position-relative
                  .bg-primary-trans.position-absolute.right-80.left-20.top-20.mb-5.z-minus.h-50.w-100
                  .my-0
                    .row
                      each object in course.features
                        if object.icon
                          .col-md-6.p-3.mb-3
                            .card.shadow-sm.bg-white.h-100.p-3
                              .row
                                .col-3.text-center.py-3.pr-1
                                  img.img-fluid.h-100(src="/images/"+object.icon, alt=object.title)
                                .col-9.position-relative.d-flex.align-items-center.border-left.border-muted
                                  .p-md-2.position-relative
                                    h5=object.title
                                .col-12
                                  p.mb-0=object.subtitle
            .col-md-4
              .dotted.w-5.h-5.position-absolute.top.right-40.yellow.mt-n4.mr-n4.z-minus
              .dotted.w-15.h-15.position-absolute.bottom-10.right.iron.mb-n4.mr-n4.z-minus
              img.w-100.h-100.object-fit-contain.d-none.d-md-block(alt=__( "Where Our Graduates Work" ) src="/media/leandro.jpg" )

    section.pb-5
      .position-relative
        .bg-yellow.w-100.mb-n5.position-absolute.top-50.left.bottom.right.left.third-transparent
        section#youtube
          .container.position-relative
            h2.mb-5=__("DCI Alumni at Work")
            .dotted.w-4.h-2.position-absolute.top-15.left.iron.z-minus.mr-3.ml-n5
            .dotted.w-15.h-15.position-absolute.bottom.right.iron.z-minus.mr-3
            .row
              .col-md-6
                .videoWrapper
                  iframe(width='100%' src='https://www.youtube.com/embed/oDzyVmmDh5c?controls=0' title=story.title frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
              .col-md-6.d-flex.justify-content-center.flex-column
                div.mb-4
                  strong=story.title + " - "
                  span= story.workPosition
                div !{story.toHTML}
            
    section#section3.my-5.container.text-left.position-relative.py-5
      .dotted.w-4.h-2.position-absolute.top.left.iron.z-minus.mr-3.mt-n4.ml-3
      h2.font-weight-bold.text-uppercase.mb-4: +translate("Course Destails & Requirements")
      .row
        .col-md-8
          .position-absolute.top.left.right.bottom.third-transparent.z-minus     
          if course.startInterval
            .my-3
              strong.mr-2
                +translate("Starts every")
                = ":"
              span
                span.padded-text()=course.startInterval
          .my-3
            strong.mr-2
              +translate("Teaching Mode")
              =":"
            span
              span.padded-text()=__( "On Campus & Online" )
          if course.courseLanguages
            .my-3
              strong.mr-2
                +translate("Language")
                =":"
              span.padded-text()
                = course.courseLanguages
          if course.courselength
            .my-3
              strong.mr-2
                +translate("Duration")
                =":"
              span.padded-text()= course.courselength
          if course.locations
            .my-3
              strong.mr-2
                +translate("Availability")
                =":"
              span.padded-text()
                each location, index in course.locations
                  =location.name
                  if index != course.locations.length - 1
                    =", "
                =" & Online"
          if course.requiredLanguages
            .my-3
              strong.mr-2
                +translate("Language")
                =":"
              span.padded-text()
                = course.requiredLanguages 
          if course.computerKnowledge
            .my-3
              strong.mr-2
                +translate("Computer Knowledge")
                =":"
              span.padded-text()=course.computerKnowledge
          if course.education
            .my-3
              strong.mr-2
                +translate("Education")
                =":"
              span.padded-text()=course.education
          if course.other
            .my-3
              strong.mr-2
                +translate("Other")
                =":"
              span.padded-text()=course.other

        .col-md-4.position-relative.d-flex.flex-column.justify-content-center
          .dotted.w-4.h-2.position-absolute.top-20.left.blue.z-minus.ml-n5
          a.btn.btn-lg.btn-secondary.mb-3.btn-wide.mb-5(href="/signup"): +translate("Apply Now")
          a.btn.btn-outline-primary.mb-4(href='#' data-toggle='modal', data-target='#curriculumpopup' data-course=`${course.slug}`) 
            div.h-2.w-2.d-inline-block.mr-2
              include ../../assets/icons/download.svg
            +translate("Download Course Overview")
    hr.d-md-none

    section.py-5.position-relative.bg-primary-light
      .dotted.d-md-none.blue.w-9.h-9.position-absolute.top-30.left.mr-5
      .dotted.d-md-none.blue.w-9.h-9.position-absolute.right.bottom.ml-2
      .container
        h2.text-white.my-5: +translate("Financing options")
        .row
          .col-md-4.mb-4
            .card.shadow-sm.p-3.h-100.d-flex.justify-content-between
              .d-flex.align-items-center
                div.text-primary-light.flex-grow-1
                  include ../../assets/icons/course_job_interview.svg
                h2.ml-5.w-3.h-3.bg-yellow.text-dark.d-flex.justify-content-center.align-items-center.font-weight-bold.flex-shrink-0.mr-n3=`01`
              p: +translate("If you are unemployed or in Kurzarbeit, the course can be 100% financed by the Jobcenter or Agentur für Arbeit.")

          if course.financingoption
            .col-md-4.mb-4
              .card.shadow-sm.p-3.h-100.d-flex.justify-content-between
                .d-flex.align-items-center.flex-grow-1
                  .flex-grow-1.d-flex.flex-column.justify-content-center
                    include ../../assets/icons/financing_chancen_eg.svg
                  h2.ml-5.w-3.h-3.bg-yellow.text-dark.d-flex.justify-content-center.align-items-center.font-weight-bold.flex-shrink-0.mr-n3=`02`
                p: +translate("CHANCEN eG takes over your entire course fee and let’s you pay once you complete the course and find a stable job.")
            .col-md-4.mb-4
              .card.shadow-sm.p-3.h-100.d-flex.justify-content-between
                .d-flex.align-items-center.flex-grow-1
                  .flex-grow-1.d-flex.flex-column.justify-content-center.text-primary-light
                    include ../../assets/icons/credit_card.svg
                  h2.ml-5.w-3.h-3.bg-yellow.text-dark.d-flex.justify-content-center.align-items-center.font-weight-bold.flex-shrink-0.mr-n3=`03`
                p: +translate("You can also pay your course immediately or in installments.")

      .p-5.position-relative.overflow-hidden.mb-5
        .p-md-5.mb-5
          div.my-3.my-y-xl-5.text-center
            h3.text-white.my-5.font-weight-light=__("What are you waiting for?")
            a.btn.btn-lg.btn-secondary.mx-3.mb-3.w-100.w-md-auto(href="/signup"): +translate("Apply Now")
            a.btn.btn-lg.btn-outline-white.mx-3.mb-3.w-100.w-md-auto(href='#' data-toggle='modal', data-target='#curriculumpopup' data-course=`${course.slug}` ): +translate("Download Course Overview")

      if user && user.admin === "true"
        div.py-3
          a.btn.btn-outline-primary(target="_blank" rel="noopener" href='/admin/courses/edit/'+course.slug) Edit course
